<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vote to Joy</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="/public/css/main.css">-->
  <!--testing by raw css reference-->
  <link rel="stylesheet" href="C:\Users\steph\Documents\Web Dev\Free Code Camp\voting app\public\css\main.css">
</head>
<body>
  <div class="top-bar">
    <div class="login-box">Login</div>
  </div>
  <div class="container">
    
    <div class="jumbotron">
      <h1>Vote to Joy!</h1>
    </div>

    <div id="poll-holder">
      <!--this will later be all built by react-->
      <div class="poll">
        <div class="poll-title">Favorite Beverage</div>
        <p class="votes-cast"></p>
      </div>
    </div>
    <div id="poll-holder">
      <div class="poll">
        <div class="poll-title">Favorite X-men</div>
        <p class="votes-cast"></p>
      </div>
    </div>
  </div>

<!--put the scripts down here-->
</body>
</html>