<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <title>Vote to Joy</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
  <div class="top-bar">
    <a href='/auth/github'>
      <div class="top-bar-box login-box">
        <img src="/public/img/gh-mark-32px.png" alt="">
        <span>Login</span>
      </div>
    </a>
  </div>
  <div class="container">
    
    <div class="jumbotron">
      <h1>Vote to Joy!</h1>
    </div>

    <div class="container">
      <div class="col-xs-9 col-xs-offset-1" id="poll-holder">
      </div>
    </div>
  </div>

<!--put the scripts down here-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
<script src="/controllers/userHandler.client.js"></script>
<script>
  userHandler.showAllPolls();
</script>
</body>
</html>