<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vote to Joy</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
  <div class="top-bar">
    <a href='/auth/github'>
      <div class="login-box top-bar-box">
        <img src="/public/img/gh-mark-32px.png" alt="">
        Login
      </div>
    </a>
  </div>
  <div class="container">
  </div>

<!--put the scripts down here-->
</body>
</html>