.jumbotron {
  text-align: center;
  background-color: steelblue;
  color: floralwhite;
}

.container {
  margin-top: 60px;
}

#poll-holder {
  background-color: lightsteelblue;
  border-radius: 5px;
}

.poll {
  background-color: darkslateblue;
  color: white;
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
}
.poll-title {
  font-weight: bolder;
  text-align: left;
}
.poll-date {
  margin-left: 20px;
}
.poll-description {
  background-color: steelblue;
  color: white;
}

.display-name {
  text-align: left;
}

.top-bar {
  background-color: darkslategray;
  position: fixed;
  z-index: 1000;
  top:0px;
  left: 0px;
  width: 100%;
}
.top-bar-box {
  float: left;
  display: block;
  border-radius: 5px;
  margin: 5px 10px 5px 10px;
  padding: 2px 12px 2px 8px;
  color: floralwhite;
  font-size: 15pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login-box {
  float: right;
  background-color: steelblue;
}
.top-bar-box-right {
  float: right;
}
.top-bar-box:hover {
  background-color: lightsteelblue;
}
.top-bar-box-active {
  background-color: steelblue;
  color: black;
}

.profile-pic {
  max-height: 100px;
  max-width: 100px;
}